{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'css/forgotpass.css' %}">
    <link rel="shortcut icon" href="{% static 'Image/logincurve.png' %}" type="image/x-icon">
</head>
<body>
    <img id="Background" src="{% static 'Image/passwordbackground.png' %}" alt="Background">
    <img id="PNG" src="{% static 'Image/forget-password.png' %}" alt="JPG">
    <div id="Container">
        <h2>Forgot Password?</h2>
        {% if error_message %}
            <p style="color:red">{{ error_message }}</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="Label">
                <label>Please enter your contact number or email below</label>
                <input type="email" name="email" placeholder="">
                <button class="done" type="submit">Done</button> 
            </div>
        </form>
    </div>
    <a href="#"><div class="button"><img src="{% static 'Image/arrowleft.png' %}"></div></a>
</body>
</html>