{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Tracking</title>
    <link rel="stylesheet" href="{% static 'css/Inventory_track.css'%}">
    <link rel="shortcut icon" href="{% static 'Image/shieldsearch.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gm+kjf6KeXJjU1+6UqL6nHSzt0Fknxl5t5IN5qzjZ2aMv9XBLblxM+VKTFIsRyJh" crossorigin="anonymous">

</head>

<body>
    <section id="Container">
        <img src="{% static 'Image/imslogowhite.png'%}" alt="Logo">
        <nav id="Menu">
            <a href="{% url 'dashboard'%}">
                <button><img id="img1" src="{% static 'Image/Vector.png'%}">Dashboard</button></a>
            <a href="{% url 'inventorytrack'%}">
                <button><img id="img2" src="{% static 'Image/shieldsearch.png'%}">Inventory Tracking</button></a>
            <a href="{% url 'order'%}">
                <button><img id="img3" src="{% static 'Image/emptywalletchange.png'%}">Order Processing</button></a>
            <a href="{% url 'RA'%}">
                <button><img id="img4" src="{% static 'Image/documenttext.png'%}">Report & Analysis</button>
            </a>
            <a href="{% url 'UAC'%}">
                <button><img id="img5" src="{% static 'Image/UAC.png'%}">User Access Control</button>
            </a>
        </nav>
    </section>

    <section id="Headline">
        <h2>Inventory Management System</h2>
        <input type="text" placeholder="Search">
        <a href="{% url 'profile'%}"><img id="Profile" src="{% static 'Image/profile.png'%}"></a>
        <a href="{% url 'home'%}"><img id="Logout" src="{% static 'Image/Iconsax/Linear/Logout.png'%}"></a>
    </section>
    <section id="Main">
        <h1>Inventory Tracking</h1>
        <button data-open-modal><img id="Add" src="{% static 'Image/addsquare.png'%}">Add</button>
        <table id="producttable">
            <tr>
                <th>Product Code</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Location</th>
                <th>Reorder Point</th>
                <th>Data Recieved</th>
                <th>Cost</th>
                <th>Expirarion Date</th>
                <th>Brand</th>
                <th>Add/Delete</th>
            </tr>

        </table>

    </section>
    <dialog data-modal>

        <div class="box">
            <h1>Add Product</h1>
            <form method="post">
                {% csrf_token %}
                <div class="brandname_inner">
                    <label>Product name:</label>
                    <input type="text" placeholder="" name="productname">
                </div>
                <div class="description_inner">
                    <label>Description:</label>
                    <input type="text" placeholder="" name="description">
                </div>
                <div class="price_inner">
                    <label>Price:</label>
                    <input type="number" placeholder="" name="price">
                </div>
                <div class="quantity_inner">
                    <label>Quantity:</label>
                    <input type="number" placeholder="" name="quantity">
                </div>
                <div class="location_inner">
                    <label>Location:</label>
                    <input type="text" placeholder="" name="location">
                </div>
                <div class="reorderpoint_inner">
                    <label>Reorder point:</label>
                    <input type="text" placeholder="" name="reorderpoint">
                </div>
                <div class="brand_inner">
                    <label>Brand name:</label>
                    <input type="text" placeholder="" name="brandname">
                </div>
                <div class="date_inner">
                    <label>Expiration date:</label>
                    <input type="date" placeholder="" name="expirationdate">
                </div>
                <button id="Add" type="submit">Add</button>
            </form>
            <button id="close" data-close-modal>Close</button>
        </div>

    </dialog>
    <style>
        dialog {
            height: 500px;
            width: 500px;
            border-radius: 10px;
            border: none;
        }

        .inner {
            display: flex;
            justify-content: space-around;
        }
    </style>

    <script src="{% static 'script/inventory.js'%}" type="application/javascript"></script>
    <script>
        let Popup = document.querySelector("[data-modal]")
        let open = document.querySelector("[data-open-modal]")
        let close = document.querySelector("[data-close-modal]")


        open.addEventListener("click", () => {
            Popup.showModal()
        })

        close.addEventListener("click", () => {
            Popup.close()
        })

        Popup.addEventListener("click", function (event) {
            if (event.target == Popup) {
                Popup.close();
            }
        });

    </script>
</body>

</html>