{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recover Password</title>
    <link rel="stylesheet" href="{% static 'css/Recoverpass.css' %}">
    <link rel="shortcut icon" href="{% static 'Image/logincurve.png' %}" type="image/x-icon">
</head>
<body>
    <img id="Background" src="{% static 'Image/passwordbackground.png' %}" alt="Background">
    <img id="PNG" src="{% static 'Image/forget-password.png' %}" alt="JPG">
    <div id="Container">
        <h2>Recover Password</h2>
        <form action="Login.html">
            <div class="Label">
                <label>Enter New Password</label>
                <label>Confirm Password</label>
                <input type="password" placeholder="">
                <input type="password" placeholder="">
                <button class="done" type="submit">Done</button> 
            </div>
        </form>
    </div>
    <a href="{% url 'otp'%}">
        <div class="button"><img src="{% static 'Image/arrowleft.png' %}"></div>
    </a>
</body>
</html>
