{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link rel="stylesheet" href="{% static 'css/Userlist.css' %}"> <!-- Update the stylesheet link to use the static tag -->
    <link rel="shortcut icon" href="{% static 'Image/shieldsearch.png' %}" type="image/x-icon"> <!-- Update the favicon link to use the static tag -->
</head>
<body>
    <section id="Container">
        <img src="{% static 'Image/imslogowhite.png' %}" alt="Logo"> <!-- Update the image source to use the static tag -->
        <nav id="Menu">
            <a href="Dash.html">
                <button><img id="img1" src="{% static 'Image/Vector.png' %}">Dashboard</button></a>
            <a href="Inventory_track.html">
                <button><img id="img2" src="{% static 'Image/shieldsearch.png' %}">Inventory Tracking</button>
            </a>
            <a href="orderprocess.html">
                <button><img id="img3" src="{% static 'Image/emptywalletchange.png' %}">Order Processing</button></a>
            <button><img id="img4" src="{% static 'Image/documenttext.png' %}">Report & Analysis</button>
            <a href="UAC.html">
                <button><img id="img5" src="{% static 'Image/UAC.png' %}">User Access Control</button>
            </a>
        </nav>
    </section>

    <section id="Headline">
        <h2>Inventory Management System</h2>
        <input type="text" placeholder="Search">
        <a href="profile.html"><img id="Profile" src="{% static 'Image/profile.png' %}"></a>
        <a href="Home.html"><img id="Logout" src="{% static 'Image/Iconsax/Linear/Logout.png' %}"></a>
        <a href="UAC.html">
            <button id="Done">Done</button>
        </a>
    </section>
    <section id="Main">
        <h1>User List</h1>
        <a href="UAC.html">
            <button><img id="back" src="{% static 'Image/arrowleft.png' %}">Back</button>
        </a>
        </script>
        <table>
            <tr>
                <th>Name</th>
                <th>Date Of birth</th>
                <th>Email Id</th>
                <th>Sex</th>
                <th>Contact</th>
                <th>Address</th>
                <th>Add/Delete</th>
            </tr>

        </table>

    </section>
</body>
</html>
